.MobileCompany
{
  border: 1px solid gray;
  border-collapse: collapse;
  width: 1000px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-align: center;
  vertical-align: center;
  padding: 10px;
  margin: 20px 0;
  
}

.MobileCompanyName
{
  font-weight: bold;
}

th {
  border-top: 1px solid gray;
  padding: 10px;
}

.watchClients {
  background-color: darkgray;
}
